{{!-- Setup the main.handlebars file so it's able to be used by Handlebars. --}}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
		<title>Burger-licious</title>
		<script src="https://code.jquery.com/jquery.js"></script>
		{{!-- <script src="/public/assets/js/burgers.js"></script> --}}
	</head>
	<body>
		{{{ body }}}

		<script>
			// Make sure we wait to attach our handlers until the DOM is fully loaded.
$(function() {
    $(".change-devoured").on("click", function(event) {
      var id = $(this).val();
	  console.log(this);
	  console.log(id);
      var newDevour = 1
  
      var newDevourState = {
        Devoured: newDevour
      };
  
      // Send the PUT request.
      $.ajax("/api/burgers/" + id, {
        type: "PUT",
        data: newDevourState
      }).then(
        function() {
          console.log("Burger devoured");
          // Reload the page to get the updated list
          location.reload();
        }
      );
    });
  
    $(".create-form").on("submit", function(event) {
      // Make sure to preventDefault on a submit event.
      event.preventDefault();
  
      var newBurger = {
        burger_name: $("#ca").val().trim()
      };

      console.log(newBurger);
  
      // Send the POST request.
      $.ajax("/api/burgers", {
        type: "POST",
        data: newBurger
      }).then(
        function() {
          console.log("created new burger");
          // Reload the page to get the updated list
          location.reload();
        }
      );
    });
  });
  
		</script>
	</body>
</html>
