body { 
  background: url(../img/lidye-1Shk_PkNkNw-unsplash.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.container {
  color: white;
}

.burgerList {
max-width: 300px;
}

.change-devoured {
position: relative;
float: right;
max-height: 21px;
font-size: 14px;
padding-top: 0;
}

.burgerList>li {
font-size: 14px;
margin-bottom: 5px;
}

/* li {
    padding: 5px;
    margin: 5px;
    background: #faebd7;
  }
  
  .label {
    font-weight: bold;
  }
  
  .create-update-form {
    padding: 5px;
    margin: 5px;
    background: aqua;
  }
  
  .form-group {
    margin-bottom: 5px;
  }
   */